@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0e17;
  color: #e0e0e0;
  font-family: 'Lato', sans-serif;
}




@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

/* Global color settings */
:root {
  --color-background: #0a0e17;
  --color-gray-dark: #707070;
  --color-gray-light: #959595;
  --color-gray-dark-2: #ffffff0a;
  --color-accent: #FD6F00;
}
